.logo {
    max-width: 20%;
}
#footer ul {
    text-align: left;
    list-style-type: none;
    padding: 0;
}
#footer li {
    display: inline-block;
    padding: 5px;
}
#footer a {
    text-decoration: none;
}
#contact ul {
    list-style-type: none;
    margin: 0;
    text-align: left;
    padding: 10px;
}
#contact li::before {
    position: relative;
    content:  "—";
    left: -10px;
}